.signInContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1000px;
}
.previewContainer{
    display: flex;
    position: relative;
}
.signInInner{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.signInLogo{
    max-width: 200px;
}
.signInButton{
    padding:10px 50px;
    background-color: pink;
    border:1px solid pink;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.signInButton:hover{
    background-color: rgb(228, 167, 177);
}

.iphoneContainer{
    position: relative;
    display: none;
    z-index: 1000;
}

.iphoneContent{
    position: absolute;
    right: 35px;
    top:60px;
    width: 215px;
    opacity: 1;
}
.iphoneContentNoDisplay{
    display: none;
    opacity: 0;
}
.iphonePic{
    width: 300px;
}

.desktopContainer{
    position: relative;
}
.desktopImage{
    display: initial;
    position: absolute;
    right: 130px;
    top:45px;
    height: 78%;
    width: 74%;
}
.desktopImageNoDisplay{
    display: none;
}
.macImage{
    width: 1000px;
    display: none;
}
.logoBig{
    display: none;
}
@media(min-width:700px){
    .signInContainer{
        flex-direction: row;
        margin: 0 auto;
    }
    .iphoneContainer{
        display: block;
    }
    .signInInner{
        height: initial;
    }
    .signInButton{
        margin-top: 20px;
        padding:10px 30px;
    }
    .signInLogo{
        max-width: 150px;
    }
}

@media(min-width:1200px){
    .signInContainer{
        flex-direction: column;
        min-height: 100vh;
    }
    .signInLogo{
        display: none;
    }
    .macImage{
        display: initial;
    }
    .signInButton{
        margin:0;
    }
    .iphoneContainer{
        position: absolute;
        right:-50px;
        top:70px;
    }
    .logoBig{
        display: initial;
        width: 200px;
    }
}